{% extends "::base.html.twig" %}
{% block barre_menu %}{% endblock %}




{% block le_contenu %}
	<div class="w3l_banner_nav_right">
	    <section class="slider">
	      <div class="flexslider">
	        <ul class="slides">
	          <li>
	            <div class="w3l_banner_nav_right_banner">
	              <h3> <span> La Casamance une destination à ne pas manquée</span> </h3>
	              <div class="">
	                <a href="products.html" class="" data-text="Shop now"></a>
	              </div>
	            </div>
	          </li>
	          <li>
	            <div class="w3l_banner_nav_right_banner1">
	              <h3> <span> </span> </h3>
	              <div class="">
	                <a href="products.html" class="" data-text="Shop now"> </a>
	              </div>
	            </div>
	          </li>
	          <li>
	            <div class="w3l_banner_nav_right_banner2">
	              <h3>  <i> </i>  </h3>
	              <div class="">
	                <a href="products.html" class="" data-text="Shop now"></a>
	              </div>
	            </div>
	          </li>
	        </ul>
	      </div>
	    </section>
	    <!-- flexSlider -->
	      <link rel="stylesheet" href="{{ asset('bundles/Ecommerce/css/flexslider.css') }}" type="text/css" media="screen" property="" />
	      <script defer src="{{ asset('bundles/Ecommerce/js/jquery.flexslider.js') }}"></script>
	      <script type="text/javascript">
	      $(window).load(function(){
	        $('.flexslider').flexslider({
	        animation: "slide",
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
	        });
	      });
	      </script>
	    <!-- //flexSlider -->
	  </div>
	  <div class="clearfix"></div>
	</div>
	<!--728x90-->
	{# <div style="text-align: center;"><script async src="{{ asset('bundles/Ecommerce/js/f.txt')}}"></script>
	<ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px"
	   data-ad-client="ca-pub-9153409599391170"
	   data-ad-slot="6850850687"></ins> #}
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script></div>
	<!-- banner -->
	<div class="">
	    <div class="">
	    </div>
	    <div class="">
	      <div class="">
	      </div>
	      <div class="clearfix"> </div>
	    </div>
	    <div class="clearfix"> </div>
	</div>
	<!---728x90-->
	{# <div style="text-align: center;"><script async src="{{ asset('bundles/Ecommerce/js/f.txt')}}"></script>
	<ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px"
	   data-ad-client="ca-pub-9153409599391170"
	   data-ad-slot="6850850687"></ins> #}
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({}); 

	</script></div>
	<!-- top-brands -->
	<div class="top-brands">
	  <div class="container">
	    <h3>Hotels</h3>
	<!---728x90-->
	{#<div style="text-align: center;"><script async src="{{ asset('bundles/Ecommerce/js/f.txt')}}"></script>
	<ins class="adsbygoogle"
	   style="display:block;width:728px;height:90px"
	   data-ad-client="ca-pub-9153409599391170"
	   data-ad-slot="6850850687"></ins> #}
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script></div>
	    <div class="agile_top_brands_grids">
	        <table class="forme" margin-left="200px" >
	          <tr>
	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid"> 
	            <div class="tag"><img src="{{ asset('bundles/Ecommerce/images/tag.png') }}" alt=" " class="img-responsive" /></div>
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block" >
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img title=" " alt=" " src="{{ asset('bundles/Ecommerce/images/1.png') }}" /></a>    
	                    <p>fortune sunflower oil</p>
	                    <h4>$7.99 <span>$10.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
	                        <input type="hidden" name="amount" value="7.99" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>

	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid">
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block" >
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img title=" " alt=" " src="{{ asset('bundles/Ecommerce/images/3.png') }}" /></a>    
	                    <p>basmati rise (5 Kg)</p>
	                    <h4>$11.99 <span>$15.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="basmati rise" />
	                        <input type="hidden" name="amount" value="11.99" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>





{% block menu_nav %}
  <div class="forn">
  <ul class="menu-vertical">
  <li class="mv-item" ><a href="short-codes.html">Accueil</a></li>
  <li class="mv-item"><a href="short-codes.html">Boutique</a></li>
  <li class="mv-item"><a href="short-codes.html">Hotels et Restaurants</a></li>
  <li class="mv-item"><a href="short-codes.html">Cultures</a></li>
  </ul>
  </div>

{% endblock %}



<!-- banner -->
	<div class="">
	    <div class="">
	    </div>
	    <div class="">
	      <div class="">
	      </div>
	      <div class=""> </div>
	    </div>
	    <div class=""> </div>
	</div>
	<!---728x90-->
	{# <div style="text-align: center;"><script async src="{{ asset('bundles/Ecommerce/js/f.txt')}}"></script>
	<ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px"
	   data-ad-client="ca-pub-9153409599391170"
	   data-ad-slot="6850850687"></ins> #}
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script></div>
	<!-- top-brandes -->
	<div class="top-brandes">
	  <div class="container">
	    <h3>Hotels</h3>
	<!---728x90-->
	{#<div style="text-align: center;"><script async src="{{ asset('bundles/Ecommerce/js/f.txt')}}"></script>
	<ins class="adsbygoogle"
	   style="display:inline-block;width:728px;height:90px; margin-top:20px"
	   data-ad-client="ca-pub-9153409599391170"
	   data-ad-slot="6850850687"></ins> #}
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script></div>
	    <div class="agile_top_brands_grids">
	        <table class="for" margin-left="200px" >
	          <tr>
	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid"> 
	            <div class="tag"><img src="{{ asset('bundles/Ecommerce/images/tag.png') }}" alt=" " class="img-responsive" /></div>
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block" >
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img title=" " alt=" " src="{{ asset('bundles/Ecommerce/images/1.png') }}" /></a>    
	                    <p>fortune sunflower oil</p>
	                    <h4>$7.99 <span>$10.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
	                        <input type="hidden" name="amount" value="7.99" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>

	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid">
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block" >
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img title=" " alt=" " src="{{ asset('bundles/Ecommerce/images/3.png') }}" /></a>    
	                    <p>basmati rise (5 Kg)</p>
	                    <h4>$11.99 <span>$15.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="basmati rise" />
	                        <input type="hidden" name="amount" value="11.99" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>
	      </div>





















	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid">
	            <div class="agile_top_brand_left_grid_pos">
	              <img src="{{ asset('bundles/Ecommerce/images/offer.png') }}" alt=" " class="img-responsive" />
	            </div>
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block">
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img src="{{ asset('bundles/Ecommerce/images/2.png') }}" alt=" " class="img-responsive" /></a>
	                    <p>Pepsi soft drink (2 Ltr)</p>
	                    <h4>$8.00 <span>$10.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="Pepsi soft drink" />
	                        <input type="hidden" name="amount" value="8.00" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>
	      
	      <div class="col-md-3 top_brand_left">
	      <td>
	        <div class="hover14 column">
	          <div class="agile_top_brand_left_grid">
	            <div class="agile_top_brand_left_grid_pos">
	              <img src="{{ asset('bundles/Ecommerce/images/offer.png') }}" alt=" " class="img-responsive" />
	            </div>
	            <div class="agile_top_brand_left_grid1">
	              <figure>
	                <div class="snipcart-item block">
	                  <div class="snipcart-thumb">
	                    <a href="single.html"><img src="{{ asset('bundles/Ecommerce/images/4.png') }}" alt=" " class="img-responsive" /></a>
	                    <p>dogs food (4 Kg)</p>
	                    <h4>$9.00 <span>$11.00</span></h4>
	                  </div>
	                  <div class="snipcart-details top_brand_home_details">
	                    <form action="#" method="post">
	                      <fieldset>
	                        <input type="hidden" name="cmd" value="_cart" />
	                        <input type="hidden" name="add" value="1" />
	                        <input type="hidden" name="business" value=" " />
	                        <input type="hidden" name="item_name" value="dogs food" />
	                        <input type="hidden" name="amount" value="9.00" />
	                        <input type="hidden" name="discount_amount" value="1.00" />
	                        <input type="hidden" name="currency_code" value="USD" />
	                        <input type="hidden" name="return" value=" " />
	                        <input type="hidden" name="cancel_return" value=" " />
	                        <input type="submit" name="submit" value="Add to cart" class="button" />
	                      </fieldset>
	                    </form>
	                  </div>
	                </div>
	              </figure>
	            </div>
	          </div>
	        </div>
	        </td>
	      </div>

	      <div class="clearfix"> </div>
	    </div>
	  </div>
	</tr>
	</table>  
	</div>
	<!-- //top-brands -->
	<!-- fresh-vegetables -->
	


	      
	<!-- //fresh-vegetables -->
	<!-- newsletter -->
	
{% endblock %}

