{% block menu %}
	<ul class="special_items">
		<li><a href="{{ path('homepage') }}">Accueil</a><i>/</i></li>
		
		<li class="dropdown">
		  <a href="{{ path('ecommerce_boutique_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">CasaBio 100%Bio<span class="caret"></span></a>
		  <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
		    <div class="w3ls_vegetables">
		      <ul>
		        <li><a href="{{ path('ajouteCommande') }}">Produits halieutiques</a></li>
		        <li><a href="{{ path('listeCommande') }}">Fruits et légumes</a></li>
		        <li><a href="{{ path('listeCommande') }}">Divers</a></li>
		      </ul>
		    </div>                  
		  </div> 
		  <i>/</i>
		</li>
		<li class="dropdown">
		  <a href="{{ path('ecommerce_boutique_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Bienvenue en Casa <span class="caret"></span></a>
		  <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
		    <div class="w3ls_vegetables">
		      <ul>
		        <li><a href="{{ path('ajouteCommande') }}">Hotels</a></li>
		        <li><a href="{{ path('listeCommande') }}">Restaurants</a></li>
		      </ul>
		    </div>                  
		  </div> 
		  <i>/</i> 
		</li>

		<li class="dropdown">
		  <a href="{{ path('ecommerce_boutique_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Culture<span class="caret"></span></a>
		  <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
		    <div class="w3ls_vegetables">
		      <ul>
		        
		      </ul>
		    </div>                  
		  </div> 
		  <i>/</i> 
		</li>

		<li><a>Annonces</a><i></i></li>
	</ul>

{% endblock %}